@font-face {
    font-family: "custom-black";
    src: url("./fonts/Circular/CircularStd-Black.otf");
}

@font-face {
    font-family: "custom-light";
    src: url("./fonts/Circular/CircularStd-Light.otf");
}

@font-face {
    font-family: "custom-medium";
    src: url("./fonts/Circular/CircularStd-Medium.otf");
}

@font-face {
    font-family: "custom-bold";
    src: url("./fonts/Circular/CircularStd-Bold.otf");
}