@font-face {
  font-family: "custom-black";
  src: url("./fonts/Circular/CircularStd-Black.otf");
}
@font-face {
  font-family: "custom-light";
  src: url("./fonts/Circular/CircularStd-Light.otf");
}
@font-face {
  font-family: "custom-medium";
  src: url("./fonts/Circular/CircularStd-Medium.otf");
}
@font-face {
  font-family: "custom-bold";
  src: url("./fonts/Circular/CircularStd-Bold.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  font-family: "custom", sans-serif;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr 75px;
  overflow: hidden;
}
body aside {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
}
body aside .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
body aside .title i {
  font-size: 2.5rem;
}
body aside .title p {
  font-weight: 700;
  font-size: 1.75rem;
}
body aside #title {
  color: white;
  text-decoration: none;
}
body aside .navigation ul .home span, body aside .navigation ul .home p {
  color: white;
}
body aside .navigation ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  padding-left: 0;
  font-family: "custom-bold";
}
body aside .navigation ul > li span {
  font-size: 30px;
  color: #a7a7a7;
  transition: color 0.3s ease;
}
body aside .navigation ul > li p {
  color: #a7a7a7;
  transition: color 0.6s ease;
}
body aside .navigation ul > li:hover span {
  color: white;
}
body aside .navigation ul > li:hover p {
  color: white;
}
body aside .navigation .like {
  font-size: 24px;
  padding: 3px;
  background: linear-gradient(135deg, blue, gray);
  border-radius: 3px;
}
body aside .navigation hr {
  margin: 10px;
  visibility: hidden;
}
body aside .cookies {
  margin-top: auto;
  font-size: 0.7rem;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}
body aside .cookies:hover {
  border-bottom: 1px solid;
}
body aside .lang {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding: 5px 15px;
  align-items: center;
  border: 1px solid gray;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  height: 32px;
}
body aside .lang > span {
  font-size: 20px;
}
body aside .lang:hover {
  border-width: 2px;
}
body aside .lang:hover p span {
  font-size: 1rem;
}
body aside .partition {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  width: 1px;
}
body aside .partition:hover {
  cursor: col-resize;
  background-color: gray;
  z-index: 1;
}
body main {
  background-color: rgb(33, 32, 32);
  font-size: 16px;
  grid-column: 2/-1;
  grid-row: 1/2;
  overflow-y: scroll;
  z-index: 3;
}
body main .top--bar {
  width: -webkit-fill-available;
  background-color: rgba(16, 16, 16, 0.7);
  padding: 5px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 7;
  justify-content: space-between;
  height: 70px;
}
body main .top--bar .page--control {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
body main .top--bar .page--control div {
  background: rgba(0, 0, 0, 0.7);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .top--bar .page--control div svg {
  height: 16px;
}
body main .top--bar .page--control div svg path {
  fill: #a7a7a7;
}
body main .top--bar .page--control .prev svg {
  transform: rotate(180deg);
}
body main .top--bar .user--button {
  margin-left: auto;
  display: flex;
  align-items: center;
}
body main .top--bar .user--button button {
  width: 80px;
  height: 30px;
  background: none;
  border: none;
  margin: 0 5px;
  padding: 5px 0;
}
body main .top--bar .user--button button:hover {
  margin: 0 3px;
  width: 84px;
  height: 34px;
}
body main .top--bar .user--button button:hover p {
  color: white;
}
body main .top--bar .user--button button:hover p span {
  font-size: 18px;
}
body main .top--bar .user--button p {
  font-family: "custom-bold";
  font-size: 16px;
  color: #a7a7a7;
  letter-spacing: 1px;
}
body main .top--bar .partitionX {
  padding: 1rem 0;
  border-left: 1px solid white;
  margin: 0 15px;
}
body main .top--bar .user--related {
  display: flex;
  gap: 10px;
  color: lightgray;
  align-items: center;
}
body main .top--bar .user--related div {
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-family: "custom-bold";
  font-size: 0.9rem;
}
body main .top--bar .user--related div:hover span {
  font-size: 1rem;
}
body main .top--bar .user--related a {
  text-decoration: none;
  width: 104px;
  height: 52px;
}
body main .top--bar .user--related a:hover {
  margin: -2px;
  width: 108px;
  height: 56px;
}
body main .top--bar .user--related .log--in {
  background-color: white;
  color: black;
}
body main .top--bar .user--related .log--in:hover {
  background-color: lightgray;
}
body main .top--bar .user--related .sign--up {
  color: #a7a7a7;
}
body main .top--bar .user--related .sign--up:hover {
  color: white;
}
body main .lists {
  margin-top: 70px;
  padding: 30px;
}
body main .lists .list--container {
  margin-bottom: 30px;
}
body main .lists .list--container .list--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body main .lists .list--container .list--header .list--type {
  font-size: 1.5rem;
  font-family: "custom-bold";
  color: white;
  border-bottom: 2px solid transparent;
}
body main .lists .list--container .list--header .list--type:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}
body main .lists .list--container .list--header .show--all {
  font-family: "custom-bold";
  color: lightgray;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid transparent;
}
body main .lists .list--container .list--header .show--all:hover {
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}
body main .lists .list--container .list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  gap: 20px;
  justify-content: space-between;
}
body main .lists .list--container .list > div {
  padding: 15px;
  background-color: rgba(18, 17, 17, 0.9);
  border-radius: 5px;
}
body main .lists .list--container .list > div .cover {
  position: relative;
}
body main .lists .list--container .list > div .cover > img {
  min-width: 120px;
}
body main .lists .list--container .list > div .cover .play {
  box-sizing: content-box;
  display: none;
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 6;
  transition: bottom 0.4s, opacity 0.3s ease-in !important;
  background-color: rgb(13, 211, 13);
}
body main .lists .list--container .list > div .cover .play img {
  width: 40px;
  height: 40px;
}
body main .lists .list--container .list > div .cover .play:hover {
  border: 1px solid rgb(13, 211, 13);
  right: 9px;
  bottom: 9px;
  cursor: initial;
}
body main .lists .list--container .list > div img {
  width: 100%;
  border-radius: 3px;
}
body main .lists .list--container .list > div .list--name, body main .lists .list--container .list > div .list--desc {
  color: white;
}
body main .lists .list--container .list > div .list--name {
  margin: 10px 0;
  font-family: "custom-bold";
}
body main .lists .list--container .list > div .list--desc {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: gray;
}
body main .lists .list--container .list > div:hover {
  background-color: rgb(39, 38, 38);
  cursor: pointer;
}
body main .lists .list--container .list > div:hover .play {
  display: flex;
  bottom: 10px;
  opacity: 1;
}
body main .lists .list--container:last-of-type {
  margin-bottom: 80px;
}
body main .lists hr {
  border: none;
  border-top: 1px solid gray;
  margin: 80px 0;
}
body main::-webkit-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
body footer {
  grid-column: 1/-1;
  z-index: 4;
}
body footer .footer {
  height: 100%;
  background: linear-gradient(90deg, #ed22dd, #9e9ef1);
  display: flex;
  padding: 8px 20px;
  padding-top: 10px;
  color: white;
  font-family: "custom-light", sans-serif;
  justify-content: space-between;
}
body footer .footer .desc--title {
  font-size: 0.8rem;
}
body footer .footer .desc--info {
  font-size: 1.1rem;
}
body footer .footer .signup--free {
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  background: white;
  color: black;
}
body footer .footer a {
  text-decoration: none;
}

.gray {
  color: #a7a7a7 !important;
}

.signup--free:hover, li:hover, .title:hover, .user--related div:hover, .lang:hover {
  cursor: pointer;
}

.signup--free:hover {
  margin-top: -1px;
  margin-right: -1px;
}
.signup--free:hover span {
  font-size: 1.1rem;
}

.bg--cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 4;
}

.play--login--container {
  z-index: 6;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  gap: 20px;
}
.play--login--container .play--login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 60vw;
  min-width: 500px;
  padding: 4rem;
  gap: 4rem;
  background: linear-gradient(rgb(33, 41, 55), rgb(17, 12, 18));
  border-radius: 10px;
}
.play--login--container .play--login img {
  border-radius: 10px;
  width: 100%;
}
.play--login--container .play--login .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  font-family: "custom-medium";
}
.play--login--container .play--login .desc .title--login {
  font-size: 2rem;
  font-family: "custom-bold";
  color: white;
  margin-bottom: 30px;
}
.play--login--container .play--login .desc a {
  text-decoration: none;
  color: black;
}
.play--login--container .play--login .desc .button {
  padding: 15px 35px;
  font-size: 1rem;
  border-radius: 40px;
  margin-bottom: 1rem;
}
.play--login--container .play--login .desc .button:hover {
  cursor: default;
  transform: scale(1.05);
  margin-bottom: 0.9rem;
}
.play--login--container .play--login .desc .button:hover span {
  font-size: 1.1rem;
}
.play--login--container .play--login .desc .download {
  color: white;
  font-family: "custom-bold";
  border: 1px solid gray;
}
.play--login--container .play--login .desc .download:hover {
  border-color: white;
}
.play--login--container .play--login .desc .sign--up--free {
  background-color: rgb(13, 211, 13);
}
.play--login--container .play--login .desc .login--link {
  margin-top: 1.25rem;
  color: #a7a7a7;
}
.play--login--container .play--login .desc .login--link a {
  color: white;
}
.play--login--container .play--login .desc .login--link a:hover {
  text-decoration: underline;
}
.play--login--container .close {
  color: #a7a7a7;
  font-size: 1rem;
  font-family: "custom-medium";
}
.play--login--container .close:hover {
  color: white;
  margin-top: -0.1rem;
  cursor: default;
}
.play--login--container .close:hover span {
  font-size: 1.1rem;
}

.player {
  font-family: "custom-medium";
}
.player header {
  width: 100%;
  color: white;
  height: 350px;
  display: flex;
  flex-direction: row;
  padding: 90px 35px 25px 35px;
  gap: 30px;
  background: linear-gradient(45deg, rgba(43, 42, 42, 0.5), rgba(113, 97, 97, 0.5));
}
.player header > img {
  z-index: 0;
}
.player header .right {
  padding-top: 30px;
  width: 100%;
  z-index: 4;
}
.player header .right .type {
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "custom-light";
  letter-spacing: 1px;
}
.player header .right h1 {
  font-size: 6rem;
}
.player header .right .sub-topic {
  font-size: 0.8rem;
  color: #a7a7a7;
  margin-top: 10px;
  margin-bottom: 10px;
}
.player header .right > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.player header .right > div span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.player header .right > div span img {
  height: 35px;
}
.player header .right > div span a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "custom-medium";
}
.player header .right > div span a:hover {
  text-decoration: underline;
}
.player header .right > div .divider {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  margin: 0 8px;
}
.player header .right > div .songs span {
  display: inline;
}
.player .player--control {
  display: flex;
  flex-direction: row;
  padding: 25px 35px;
  gap: 15px;
  z-index: 4;
}
.player .player--control div {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player .player--control .play {
  background-color: rgb(13, 211, 13);
  border-radius: 50%;
  font-size: 1.5rem;
  padding-left: 4px;
}
.player .player--control .play:hover {
  width: 64px;
  height: 64px;
  margin: -2px;
}
.player .player--control .fav, .player .player--control .more {
  color: #a7a7a7;
  font-size: 2rem;
  font-weight: 100;
}
.player .player--control .fav:hover, .player .player--control .more:hover {
  color: white;
}
.player .music--list {
  font-family: "custom-light";
  color: #a7a7a7;
}
.player .music--list > .title {
  border-bottom: 1px solid rgba(236, 229, 229, 0.453);
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-family: "custom-medium";
}
.player .music--list > .title img {
  height: 1.4rem;
}
.player .music--list > div {
  display: grid;
  grid-template-columns: 50px minmax(250px, 1fr) 200px 200px 150px;
  padding: 7px 0;
  padding-right: 40px;
  margin: 0 35px;
}
.player .music--list > div .number {
  justify-content: center;
  align-items: center;
}
.player .music--list > div .number i {
  color: white;
  display: none;
}
.player .music--list > div .time {
  justify-content: center;
}
.player .music--list > div .title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: initial;
}
.player .music--list > div .title img {
  width: 40px;
  height: 40px;
}
.player .music--list > div .title .name {
  font-family: "custom-light";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
}
.player .music--list > div .title .name .song--title {
  font-size: 1rem;
  color: white;
}
.player .music--list > div .title .name p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.player .music--list > div .album {
  letter-spacing: 1px;
}
.player .music--list > div .album:hover {
  text-decoration: underline;
  cursor: pointer;
}
.player .music--list > div > * {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.player .music--list .song {
  z-index: 4;
}
.player .music--list .song:hover {
  background-color: rgba(167, 167, 167, 0.3);
  border-radius: 10px;
}
.player .music--list .song:hover .title, .player .music--list .song:hover .album {
  color: white;
}
.player .music--list .song:hover .duration i {
  display: block;
}
.player .music--list .song:hover .number i {
  display: block;
}
.player .music--list .song:hover .number p {
  display: none;
}

.search--container {
  color: white;
  margin-top: 60px;
  padding: 60px 35px;
  width: 100%;
}
.search--container .category--list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.search--container .category--list .category {
  width: 100%;
  position: relative;
}
.search--container .category--list .category img {
  border-radius: 10px;
  width: 100%;
}
.search--container .category--list .category h2 {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 1.3rem;
}
.search--container .category--list .category:hover {
  cursor: pointer;
}

.stick--top {
  position: fixed;
  top: 70px;
  background-color: rgb(16, 16, 16);
  margin: 0 !important;
  padding: 7px 75px 7px 35px !important;
}

.music--header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  align-items: center;
  font-family: "custom-bold";
  margin-left: 5px;
}
.music--header .nav--play {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(13, 211, 13);
  border-radius: 50%;
  font-size: 1.5rem;
  padding-left: 4px;
}
.music--header .nav--play:hover {
  width: 54px;
  height: 54px;
  margin: -2px;
}
.music--header .music--title {
  color: white;
  font-size: 1.5rem;
}

.duration {
  justify-content: center;
}
.duration i {
  display: none;
  font-size: 1.1rem;
}
.duration i:hover {
  color: white;
}
.duration i:first-of-type {
  margin-right: 30px;
}
.duration i:nth-of-type(2) {
  margin: 0 15px;
}

.float--img {
  position: fixed;
  top: 0;
  width: 70%;
  z-index: -1;
  display: none;
}/*# sourceMappingURL=styles.css.map */