@font-face {
  font-family: "custom-black";
  src: url("./fonts/Circular/CircularStd-Black.otf");
}
@font-face {
  font-family: "custom-light";
  src: url("./fonts/Circular/CircularStd-Light.otf");
}
@font-face {
  font-family: "custom-medium";
  src: url("./fonts/Circular/CircularStd-Medium.otf");
}
@font-face {
  font-family: "custom-bold";
  src: url("./fonts/Circular/CircularStd-Bold.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  font-family: "custom", sans-serif;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr 75px;
  flex-direction: row;
  overflow: hidden;
}
body aside {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
}
body aside .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
body aside .title i {
  font-size: 2.5rem;
}
body aside .title p {
  font-weight: 700;
  font-size: 1.75rem;
}
body aside .navigation ul .home span, body aside .navigation ul .home p {
  color: white;
}
body aside .navigation ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  padding-left: 0;
  font-family: "custom-bold";
}
body aside .navigation ul > li span {
  font-size: 30px;
  color: #a7a7a7;
  transition: color 0.3s ease;
}
body aside .navigation ul > li p {
  color: #a7a7a7;
  transition: color 0.6s ease;
}
body aside .navigation ul > li:hover span {
  color: white;
}
body aside .navigation ul > li:hover p {
  color: white;
}
body aside .navigation .like {
  font-size: 24px;
  padding: 3px;
  background: linear-gradient(135deg, blue, gray);
  border-radius: 3px;
}
body aside .navigation hr {
  margin: 10px;
  visibility: hidden;
}
body aside a {
  margin-top: auto;
  font-size: 0.7rem;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}
body aside a:hover {
  border-bottom: 1px solid;
}
body aside .lang {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding: 5px 15px;
  align-items: center;
  border: 1px solid gray;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  height: 32px;
}
body aside .lang > span {
  font-size: 20px;
}
body aside .lang:hover {
  border-width: 2px;
}
body aside .lang:hover p span {
  font-size: 1rem;
}
body aside .partition {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 2px;
}
body aside .partition:hover {
  cursor: col-resize;
  background-color: gray;
  z-index: 1;
}
body main {
  background-color: rgb(33, 32, 32);
  font-size: 16px;
  grid-column: 2/-1;
  grid-row: 1/2;
  overflow-y: scroll;
}
body main .top--bar {
  width: -webkit-fill-available;
  background-color: rgba(16, 16, 16, 0.7);
  padding: 5px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 1;
}
body main .top--bar .page--control {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
body main .top--bar .page--control div {
  background: rgba(0, 0, 0, 0.7);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .top--bar .page--control div object {
  height: 16px;
}
body main .top--bar .page--control div object .svg {
  fill: white;
  z-index: 0;
}
body main .top--bar .page--control .prev object {
  transform: rotate(180deg);
}
body main .top--bar .user--button {
  margin-left: auto;
}
body main .top--bar .user--button button {
  background: none;
  border: none;
  margin: 0 5px;
  padding: 5px 0;
}
body main .top--bar .user--button button:hover {
  transform: scale(1.05);
}
body main .top--bar .user--button button:hover p {
  color: white;
}
body main .top--bar .user--button button:hover p span {
  font-size: 105%;
}
body main .top--bar .user--button p {
  font-family: "custom-bold";
  font-size: 1.05rem;
  color: #a7a7a7;
  letter-spacing: 1px;
}
body main .top--bar .partitionX {
  padding: 1rem 0;
  border-left: 1px solid white;
  margin: 0 15px;
}
body main .top--bar .user--related {
  display: flex;
  gap: 10px;
  color: lightgray;
  align-items: center;
}
body main .top--bar .user--related div {
  border: none;
  padding: 17px 25px;
  border-radius: 30px;
}
body main .top--bar .user--related a {
  text-decoration: none;
}
body main .top--bar .user--related .log--in, body main .top--bar .user--related .sign--up {
  font-family: "custom-bold";
  font-size: 0.9rem;
}
body main .top--bar .user--related .log--in p, body main .top--bar .user--related .sign--up p {
  height: 1.2rem;
}
body main .top--bar .user--related .log--in {
  background-color: white;
  color: black;
}
body main .top--bar .user--related .log--in p {
  padding: 0 5px;
}
body main .top--bar .user--related .log--in:hover {
  background-color: lightgray;
}
body main .top--bar .user--related .log--in:hover span {
  font-size: 1rem;
}
body main .top--bar .user--related .sign--up {
  color: #a7a7a7;
}
body main .top--bar .user--related .sign--up:hover {
  color: white;
}
body main .top--bar .user--related .sign--up:hover span {
  font-size: 1rem;
}
body main .lists {
  margin-top: 70px;
  padding: 30px;
}
body main .lists .list--container {
  margin-bottom: 30px;
}
body main .lists .list--container .list--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body main .lists .list--container .list--header .list--type {
  font-size: 1.5rem;
  font-family: "custom-bold";
  color: white;
  border-bottom: 2px solid transparent;
}
body main .lists .list--container .list--header .list--type:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}
body main .lists .list--container .list--header .show--all {
  font-family: "custom-bold";
  color: lightgray;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid transparent;
}
body main .lists .list--container .list--header .show--all:hover {
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}
body main .lists .list--container .list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  gap: 20px;
  justify-content: space-between;
}
body main .lists .list--container .list > div {
  padding: 15px;
  background-color: rgba(18, 17, 17, 0.9);
  border-radius: 5px;
}
body main .lists .list--container .list > div .cover {
  position: relative;
}
body main .lists .list--container .list > div .cover > img {
  min-width: 120px;
}
body main .lists .list--container .list > div .cover .play {
  box-sizing: content-box;
  display: none;
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: bottom 0.4s, opacity 0.3s ease-in !important;
  background-color: rgb(13, 211, 13);
}
body main .lists .list--container .list > div .cover .play img {
  width: 40px;
  height: 40px;
}
body main .lists .list--container .list > div .cover .play:hover {
  border: 1px solid rgb(13, 211, 13);
  right: 9px;
  bottom: 9px;
  cursor: initial;
}
body main .lists .list--container .list > div img {
  width: 100%;
  border-radius: 3px;
}
body main .lists .list--container .list > div .list--name, body main .lists .list--container .list > div .list--desc {
  color: white;
}
body main .lists .list--container .list > div .list--name {
  margin: 10px 0;
  font-family: "custom-bold";
}
body main .lists .list--container .list > div .list--desc {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: gray;
}
body main .lists .list--container .list > div:hover {
  background-color: rgb(39, 38, 38);
  cursor: pointer;
}
body main .lists .list--container .list > div:hover .play {
  display: flex;
  bottom: 10px;
  opacity: 1;
}
body main .lists .list--container:last-of-type {
  margin-bottom: 80px;
}
body main .lists hr {
  border: none;
  border-top: 1px solid gray;
  margin: 80px 0;
}
body main::-webkit-scrollbar {
  z-index: 1;
}
body footer {
  grid-column: 1/-1;
}
body footer .footer {
  height: 100%;
  background: linear-gradient(90deg, #ed22dd, #9e9ef1);
  display: flex;
  padding: 8px 20px;
  padding-top: 10px;
  color: white;
  font-family: "custom-light", sans-serif;
  justify-content: space-between;
}
body footer .footer .desc--title {
  font-size: 0.8rem;
}
body footer .footer .desc--info {
  font-size: 1.1rem;
}
body footer .footer .signup--free {
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  background: white;
  color: black;
}

.gray {
  color: #a7a7a7 !important;
}

.signup--free:hover, li:hover, .title:hover, .user--related div:hover, .lang:hover {
  cursor: pointer;
}

.signup--free:hover span {
  font-size: 1.1rem;
}/*# sourceMappingURL=styles.css.map */