@import './varibles';
$gray-color: #a7a7a7;
$green-color: rgb(13, 211, 13);
$hover-color: rgba(128, 128, 128, 0.211);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {//z-index: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    font-family: "custom", sans-serif;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr 75px;
    overflow: hidden;
    aside {//z-index:0
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 25px;
        grid-column: 1/2;
        grid-row: 1/2;
        position: relative;
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            i {
                font-size: 2.5rem;
            }
           p {
            font-weight: 700;
            font-size: 1.75rem;
           }
        }
        #title {
            color: white;
            text-decoration: none;
        }
        .navigation {
            ul {
                .home{ 
                    span, p {
                        color: white;
                    }
                }
            }
            ul>li {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px;
                padding-left: 0;
                font-family: "custom-bold";
                span {
                    font-size: 30px;
                    color: $gray-color;
                    transition: color 0.3s ease;
                }
                p {
                    color: $gray-color;
                    transition: color 0.6s ease;
                }
                
                &:hover {
                    span {
                        color: white;
                    }
                    p{
                        color: white;

                    }
                }
            }
            .like {
                font-size: 24px;
                padding: 3px;
                background: linear-gradient(135deg, blue, gray);
                border-radius: 3px; 
            }
            hr {
                margin: 10px;
                visibility: hidden;
            }
        }
        .cookies {
            margin-top: auto;
            font-size: 0.7rem;
            text-decoration: none;
            color: white;
            border-bottom: 1px solid transparent;
            width: fit-content;
            margin-bottom: 30px;
            &:hover {
                border-bottom: 1px solid;
            }
        }
        .lang {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            padding: 5px 15px;
            align-items: center;
            border: 1px solid gray;
            width: fit-content;
            border-radius: 20px;
            height: 32px;
            &>span {
                font-size: 20px;
            }
            &:hover {
                border-width: 2px;
                p span {
                    font-size: 1rem;
                }
            }
        }
        .partition {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            background-color: transparent;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            width: 1px;
            &:hover {
                cursor:col-resize;
                background-color: gray;
                z-index: 1;
            }
        }
    }
    main {//z-index:-1
        background-color: rgb(33, 32, 32);
        font-size: 16px;
        grid-column: 2/-1;
        grid-row: 1/2;
        overflow-y: scroll;
        z-index: 3;
        .top--bar {//z-index==3
            width: -webkit-fill-available;
            background-color: rgb(16, 16, 16,0.7);
            padding: 5px 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: fixed;
            z-index: 7;
            justify-content: space-between;
            height: 70px;
            .page--control {
                padding: 10px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                div {
                    background: rgba(0,0,0,0.7);
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        height: 16px;
                        // z-index: 0;
                        path {
                            fill: $gray-color;
                        }
                    }
                    
                }
                .prev svg {
                    transform: rotate(180deg);
                }   
            }

            .user--button {
                margin-left: auto;
                display:flex;
                align-items: center;
                button {
                    width: 80px;
                    height: 30px;
                    background: none;
                    border: none;
                    margin: 0 5px;
                    padding: 5px 0;
                    &:hover {
                        margin: 0 3px;
                        width: 84px;
                        height: 34px;
                        p{
                            color: white;
                            span {
                                font-size: 18px;
                            }
                        }
                    }
                }
                p {
                    font-family: "custom-bold";
                    font-size: 16px;
                    color: $gray-color;
                    letter-spacing: 1px;
                }
            }
            .partitionX {
                padding: 1rem 0;
                border-left: 1px solid white;
                margin: 0 15px;
            }
            .user--related {
                display: flex;
                gap: 10px;
                color: lightgray;
                align-items: center;
                div {
                    border: none;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                    font-family: "custom-bold";
                    font-size: 0.9rem;
                    &:hover {
                        span {
                            font-size: 1rem;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    width: 104px;
                    height: 52px;
                    &:hover {
                        margin: -2px;
                        width: 108px;
                        height: 56px;
                    }
                }
                
                .log--in {
                    background-color: white;
                    color: black;
                    &:hover {
                        background-color: lightgray ;
                    }
                }
                .sign--up {
                    color: $gray-color;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        .lists {
            margin-top: 70px;
            padding: 30px;
            .list--container {
                margin-bottom: 30px;
                .list--header {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .list--type {
                        font-size: 1.5rem;
                        font-family: "custom-bold";
                        color: white;
                        border-bottom: 2px solid transparent;
                        &:hover {
                            cursor: pointer;
                            border-bottom: 2px solid white;
                        }
                    }
                    .show--all {
                        font-family: "custom-bold";
                        color: lightgray;
                        font-size: 0.8rem;
                        padding: 0;
                        margin: 0;
                        border-bottom: 1px solid transparent;
                        &:hover {
                            cursor: pointer;
                            border-bottom: 1px solid lightgray;
                        }
                    }
                }
                .list{
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    margin-top: 20px;
                    gap: 20px;
                    justify-content: space-between;
                    &>div{
                        padding: 15px;
                        background-color: rgba(18, 17, 17, 0.9);
                        border-radius: 5px;
                        .cover {
                            position: relative;
                            &>img {
                                min-width: 120px;
                            }
                            .play {
                                box-sizing: content-box;
                                display: none;
                                position: absolute;
                                bottom: 0;
                                right: 10px;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                opacity: 0;
                                z-index: 6;
                                transition: bottom 0.4s, opacity 0.3s ease-in !important;
                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                                background-color: rgb(13, 211, 13);
                                &:hover {
                                    border: 1px solid rgb(13, 211, 13);
                                    right: 9px;
                                    bottom: 9px;
                                    cursor: initial;
                                }
                            }
                        }
                        img {
                            width: 100%;
                            border-radius: 3px;
                        }
                        .list--name, .list--desc {
                            color: white;
                        }
                        .list--name {
                            margin: 10px 0;
                            font-family: "custom-bold";
                        }
                        .list--desc {
                            font-size: 0.8rem;
                            line-height: 1.5rem;
                            color: gray;
                        }
                    }
                    &>div:hover {
                        background-color: rgb(39, 38, 38);
                        cursor: pointer;
                        .play {
                            display: flex;
                            bottom: 10px;
                            opacity: 1;
                        }
                    }
                }
                &:last-of-type {
                    margin-bottom: 80px;
                }
            }
            hr {
                border: none;
                border-top: 1px solid gray;
                margin: 80px 0;
            }
        }
        &::-webkit-scrollbar {
            position: absolute;
            right: 0;
            top: 0;
            display: none;
        }
    }

    footer {//z-index:0
        grid-column: 1/-1;
         z-index: 4;
        .footer {
            height: 100%;
            background: linear-gradient(90deg, #ed22dd, #9e9ef1);
            display: flex;
            padding: 8px 20px;
            padding-top: 10px;
            color: white;
            font-family: "custom-light",sans-serif;
            justify-content: space-between;
            .desc--title {
                font-size: 0.8rem;
            }
            .desc--info {
                font-size: 1.1rem;
            }
            .signup--free {
                padding: 15px 30px;
                font-size: 1rem;
                border-radius: 30px;
                font-weight: bold;
                letter-spacing: 1px;
                background: white;
                color: black;
            }
            a {
                text-decoration: none;
            }
        }
    }
}
.gray {
    color: $gray-color !important;
}

.signup--free:hover, li:hover,.title:hover, .user--related div:hover, .lang:hover {
    cursor: pointer;
}

.signup--free:hover {
    margin-top: -1px;
    margin-right: -1px;
    span {
        font-size: 1.1rem;
    }
}

.bg--cover {//z-index:3
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 4;
}

.play--login--container {//z-index:4
    z-index: 6;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    gap: 20px;
    .play--login {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 60vw;
        min-width: 500px;
        padding:4rem;
        gap:4rem;
        background: linear-gradient(rgb(33, 41, 55), rgb(17, 12, 18));
        border-radius: 10px;
        img {
            border-radius: 10px;
            width: 100%;
        }
        .desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top:2rem;
            font-family: "custom-medium";
            .title--login {
                font-size: 2rem;
                font-family: "custom-bold";
                color: white;
                margin-bottom: 30px;
            }
            a {
                text-decoration: none;
                color: black;
            }
            .button {
                padding: 15px 35px;
                font-size: 1rem;
                border-radius: 40px;
                margin-bottom: 1rem;
                &:hover {
                    cursor: default;
                    transform: scale(1.05);
                    margin-bottom: 0.9rem;
                    span {
                        font-size: 1.1rem;
                    }
                }
            }
            .download {
                color: white;
                font-family: "custom-bold";
                border: 1px solid gray;
                &:hover {
                    border-color: white;
                }
            }
            .sign--up--free {
                background-color: $green-color;
                // text-decoration: none;
            }
            .login--link {
                margin-top: 1.25rem;
                color: $gray-color;
                a {
                    color: white;
                    &:hover {
                        text-decoration: underline;;
                    }
                }
            }
        }
    }
    .close {
        color: $gray-color;
        font-size: 1rem;
        font-family: "custom-medium";
        &:hover {
            color: white;
            margin-top: -0.1rem;
            cursor: default;
            span {
                font-size: 1.1rem;
            }
        }
    }
}

.player {
    font-family: "custom-medium";
    header {
        width: 100%;
        color: white;
        height: 350px;
        display: flex;
        flex-direction: row;
        padding: 90px 35px 25px 35px;
        gap: 30px;
        background: linear-gradient(45deg, rgba(43, 42, 42, 0.5), rgba(113, 97, 97, 0.5));
        &>img {
            z-index: 0;
        }
        .right {
            padding-top: 30px;
            width: 100%;
            z-index: 4;
            .type {
                font-size: 0.9rem;
                font-weight: 700;
                font-family: "custom-light";
                letter-spacing: 1px;
            }
            h1 {
                font-size: 6rem;
            }
            .sub-topic {
                font-size: 0.8rem;
                color: $gray-color;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            &>div {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                letter-spacing: 1px;
                font-size: 0.8rem;
                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img {
                        height: 35px;
                    }
                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 0.9rem;
                        font-family: "custom-medium";
                        &:hover {
                            text-decoration: underline;;
                        }
                    }
                }
                .divider {
                    width: 4px;
                    height: 4px;
                    background-color: white;
                    border-radius: 50%;
                    margin: 0 8px;
                }
                .songs {
                    span {
                        display: inline;
                    }
                }
            }
        }
    }
    .player--control {
        display: flex;
        flex-direction: row;
        padding: 25px 35px;
        gap: 15px;
        z-index: 4;
        div {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .play {
            background-color: $green-color;
            border-radius: 50%;
            font-size: 1.5rem;
            padding-left: 4px;
            &:hover {
                width: 64px;
                height: 64px;
                margin: -2px;
            }
        }
        .fav, .more {
            color: $gray-color;
            font-size: 2rem;
            font-weight: 100;
            &:hover {
                color: white;
            }
        }
    }
    .music--list {
        font-family: "custom-light";
        color:$gray-color;
        &>.title { 
            border-bottom: 1px solid rgba(236, 229, 229, 0.453);;
            font-size: 1rem;
            letter-spacing: 1px;
            margin-bottom: 20px;
            font-family: "custom-medium";
            img {
                height: 1.4rem;
            }
        }
        &>div {
            display: grid;
            grid-template-columns: 50px minmax(250px, 1fr) 200px 200px 150px;
            padding: 7px 0;
            padding-right: 40px;
            margin: 0 35px;
            .number {
                justify-content: center;
                align-items: center;
                i {
                    color: white;
                    display: none;
                }
            }
            .time {
                justify-content: center;
            }
            .title {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: initial;
                img {
                    width: 40px;
                    height: 40px;
                }
                .name {
                    font-family: "custom-light";
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 0.9rem;
                    .song--title {
                        font-size: 1rem;
                        color: white;
                    }
                    
                    p:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .album {
                letter-spacing: 1px;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            &>* {
                display: flex;
                align-items: center;
                font-size: 0.8rem;
            }

        }
        .song {
            z-index: 4;
            &:hover {
                background-color: rgba(167, 167, 167, 0.3);
                border-radius: 10px;
                .title, .album {
                    color: white;
                }
                .duration i {
                    display: block;
                } 
                .number {
                    i{
                        display: block;
                    }
                    p {
                        display: none;
                    }
                }
                
            }
        }
    }
}

.search--container {
    color: white;
    margin-top: 60px;
    padding: 60px 35px;
    width: 100%;
    .category--list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;

        .category {
            width: 100%;
            position: relative;
            img {
                border-radius: 10px;
                width: 100%;
            }
            h2 {
                position: absolute;
                top: 20px;
                left: 15px;
                font-size: 1.3rem;
            }
            &:hover {
                cursor: pointer;
            }
        }

    }
}

.stick--top {
    position: fixed;
    top: 70px;
    background-color: rgb(16, 16, 16,1);
    margin: 0 !important;
    padding: 7px 75px 7px 35px !important;
}
.music--header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    align-items: center;
    font-family: "custom-bold";
    margin-left: 5px;
    margin-right: auto;
    .nav--play {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green-color;
        border-radius: 50%;
        font-size: 1.5rem;
        padding-left: 4px;
        &:hover {
            width: 54px;
            height: 54px;
            margin: -2px;
        }
    }
    .music--title {
        color: white;
        font-size: 1.5rem;
    }
}
.duration {
    justify-content: center;
    i {
        display: none;
        font-size: 1.1rem;
        &:hover {
            color: white;
        }
    }
    i:first-of-type {
        margin-right: 30px;
    }
    i:nth-of-type(2){
        margin: 0 15px;
    }
    
}

.float--img {//z-index:-1
    position: fixed;
    // background-position: center;
    top: 0;
    width: 70%;
    z-index: -1;
    display: none;;
}

.search--bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    margin: 0 10px;
    padding: 7px 15px;
    gap: 10px;
    color: black;
    background-color: white;
    border-radius: 30px;
    margin-right: auto;
    img {
        height: 1.4rem;
    }
    input {
        font-size: 1.2rem;
        border: none;
        margin-right: 3rem;
        &::placeholder {
            font-size: 0.9rem;
            color: #4f4e4e;
        }
        &:focus {
            border: none;
            outline: none;
        }
    }
}

.search--display {
    font-family: "custom-light";
    // top: 60px;
    padding: 35px;
    color: white;
    padding-top: 130px;
    .search--items {
        position: fixed;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px 0;
        top: 70px;
        background: rgb(33, 32, 32);
        z-index: 4;
        width: 100%;
        .items {
            // border: 1px solid;
            padding: 7px 15px;
            border-radius: 35px;
            background-color: rgb(46, 43, 43);
            &:hover {
                background-color: $hover-color;
                cursor: pointer;
            }
        }
        .active {
            background: white;
            color: black;
        }
    }
    .songs--artist {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 30px;
        .artist {
            position: relative;
            .play {
                box-sizing: content-box;
                display: none;
                position: absolute;
                bottom: 20px;
                right: 20px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                z-index: 6;
                transition: bottom 0.4s, opacity 0.3s ease-in !important;
                img {
                    width: 40px;
                    height: 40px;
                }
                background-color: rgb(13, 211, 13);
                &:hover {
                    // border: 2px solid rgb(13, 211, 13);
                    width: 54px;
                    height: 54px;
                    right: 18px;
                    bottom: 38px;
                    
                }
            }
        }
        &>div {
            font-family: "custom-black";
            h1 {
                font-size: 1.6rem;
                margin-bottom: 20px;
            }
            
            &:hover {
                cursor: pointer;
                .play {
                    display: flex;
                    bottom: 40px;
                    opacity: 1;
                }
            }
        }
        .artist {
            .artist--container {
                background-color: #272626;
                padding: 20px;
                h1 {
                    font-size: 2rem;
                    margin: 20px 0;
                }
                p {
                    background-color: #181818;
                    padding: 7px 15px;
                    border-radius: 15px;
                    display: inline-block;
                    letter-spacing: 1px;
                    font-family: "custom-medium";
                }
                img {
                    width: 120px;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                }
                &:hover {
                    background-color: $hover-color;
                }
            }
        }
        .songs {
            .image--container {
                position: relative;
                .play {
                    position: absolute;
                    visibility: hidden;
                    left: 0px;
                    top: 7px;
                    width: 35px;
                    height: 35px;
                }
            }
            .song--list {
                font-family: "custom-medium";
                gap: 15px;
                .list--item {
                    padding: 7px 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;
                    border-radius: 5px;
                    img {
                        width: 50px;
                    }
                    .track--info {
                        padding: 5px;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        .track--name {
                            margin-bottom: auto;
                            font-family: "custom-medium";
                            font-size: 1rem;
                            letter-spacing: 1px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .track--artist {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .name {
                                font-family: "custom-light";
                                color: $gray-color;
                                span:hover {
                                    text-decoration: underline;
                                }
                            }
                            .explicit {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 10px;
                                width: 18px;
                                height: 18px;
                                padding-top: 2px;
                                background-color: $gray-color;
                                color: black !important;
                                border-radius: 5px;
                                margin-right: 7px;
                            }
                        }
                    }
                    .actions {
                        display: flex;
                        flex-direction: row;
                        i {
                            visibility: hidden;
                        }
                        .duration {
                            color: $gray-color;
                            width: 30px;
                            margin-left: 30px;
                            margin-right: 25px;
                        }
                    }

                    &:hover {
                        background-color: #4f4e4e;
                        cursor: pointer;
                        .track--info * {
                            color: white;
                        }
                        .explicit p {
                            color: black;
                        }
                        .actions i {
                            visibility: visible;
                            color: $gray-color;
                            &:hover {
                                color: white;
                            }
                        }
                        .play {
                            visibility: visible;
                            z-index: 6;
                        }
                        .cover {
                            width: 50px;
                            height: 50px;
                            top: 0;
                            left: 0;
                            position: absolute;
                            background-color: rgba(128, 128, 128, 0.75);
                            z-index: 5;
                        }
                    }
                }
            }

        }
    }
    .row--list {
        h1 {
            font-size: 1.6rem;
            margin: 20px 0;
            font-family: "custom-black";
        }
        .artists--list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: space-between;
            gap: 20px;
            .list--part {
                background-color: #272626;
                max-width: 215px;
                padding: 20px;
                border-radius: 10px;
                .profile--img {
                    width: 100%;
                    aspect-ratio: 1/1;
                }
                .profile--container {
                    position: relative;
                    .play {
                        box-sizing: content-box;
                        display: none;
                        position: absolute;
                        bottom: 0;
                        right: 10px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        z-index: 6;
                        transition: bottom 0.4s, opacity 0.3s ease-in !important;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                        background-color: rgb(13, 211, 13);
                        &:hover {
                            border: 1px solid rgb(13, 211, 13);
                            right: 9px;
                            bottom: 9px;
                            cursor: initial;
                        }
                    }
                    img {
                        width: 100%;
                        border-radius: 10px;
                        aspect-ratio: 1/1;
                    }
                }
                .name {
                    font-family: "custom-bold";
                    font-size: 1.1rem;
                    margin: 15px 0;
                }
                .type {
                    font-family: "custom-light";
                    color: $gray-color;
                }
                
                &:hover {
                    background-color: $hover-color;
                    cursor: pointer;
                    .play {
                        display: flex;
                        bottom: 10px;
                        opacity: 1;
                    }
                }
            }
            
        }
    }
    .tm {
        margin-top: 50px !important;
    }
    hr {
        margin: 100px 0;
        border: none;
        border-bottom: 1px solid $gray-color;
        background-color: transparent;
    }
    .artists div img {
        border-radius: 50% !important;
    }
}
.ar {
    aspect-ratio: 1/1;
}
